/* div {
    display: contents;
    margin: 0 auto;
  
    margin-top: 39px;
    text-align: center;
    margin: 13px;
} */



/* .card {
    float: left;
    margin: 29px;
} */

.sm\:border-l-2 {
    border-left-width: 2px;
    height: 80px;
}