/* table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid palevioletred;
    padding: 8px;
    color: grey;
} */

/* .filter-data {
    border-bottom: 1px solid;
    width: 20%;
}  */
/* 
input.filter-data {
    border-bottom: 1px solid;

    font-size: 23px;
} */
